.imageGallery {
   
  }
  
  .imageGallery img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .imageGallery img:hover {
    transform: scale(1.1);
  }
  